//recompiler avec npm run dev|production

// Font Awesome
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

documentation > ul:first-of-type {
  visibility: hidden;
  height: 0;
}

.dropdown-menu {
  padding: 0.5rem 0 0.5rem 10px;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #404040ff;
  color: #6a737c;
}

/* checkbox sur la page de creation d'un compte */

/* Customize the label (the container) */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ~~~~~~~~~~~~~~~~~~ SHARP ~~~~~~~~~~~~~~~~~~ */
.SharpForm .SharpGrid__col:not(.SharpGrid__col--empty),
.SharpForm__form-item--row {
  margin-bottom: 1rem;
}

.SharpForm__fieldset .SharpModule__content,
.SharpList__item .SharpModule__content,
.SharpMarkdown .CodeMirror,
.SharpMarkdown .SharpModule__content,
.SharpModule .SharpModule__content,
.SharpTrix .SharpModule__content,
.SharpUpload:not(.SharpUpload--empty) .SharpModule__content,
.SharpUpload:not(.SharpUpload--empty) .SharpUpload__content {
  padding: 0.6rem;
}

.SharpText,
.SharpSelect,
.multiselect .multiselect__tags {
  height: 2rem;
  max-height: 2rem;
  min-height: 2rem;
}

.SharpTabs__nav .SharpTabs__nav-link--active {
  background-color: #a1a2a5;
}

// Ligne de liste des entreprises (ou utilisateurs) par exemple
.SharpDataList__row .SharpDataList__cols,
.SharpDataList__row .SharpDataList__row-append {
  padding: 0.4em 0;
}

//Notifications pour les clés Token de l'API en particulier
.notifications {
  width: 80% !important;
  height: auto;
  word-wrap: auto;
  right: 10%;
  left: 10%;
  overflow: visible;
  position: fixed;
  word-wrap: anywhere;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
}
.notification-wrapper {
  overflow: visible;
}
.SharpToastNotification {
  width: unset;
}

.SharpToastNotification__caption {
  word-break: break-all;
}

/* ~~~~~~~~~~~~~~~~~~ SHARP ~~~~~~~~~~~~~~~~~~ */

/* side bar documentation */
.sidebar {
  margin-top: 5rem;
}

/* ~~~~~~~~~~~~~~~~~~ Eric / Différenciation dev|demo|prod ~~~~~~~~~~~~~~~~~~ */

html, body {
  height: 100%;
  margin: 0;
}
.app {
  min-height: 100%;
}

// body {
//   background: url('images/body-background.png');
//   background-repeat: repeat;
// }

// .container {
//   background-color: #f8fafc;
// }
